* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bcgrnd {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: gray;
  min-height: 100vh;
}

.cardbox {
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  max-width: 540px;
  background-color: white;
  border-radius: 5px;
  

  margin: 10px;
}

.userphoto {
  display: flex;

  width: 40%;
  object-fit: cover;
  object-position: center;

  clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.infobox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 60%;

  padding: 45px;
}

.usercredential {
  display: flex;
  flex-flow: column nowrap;
}

.username {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.userlink {
  text-decoration: none;
  color: black;
  opacity: 60%;
  padding-bottom: 5px;
}

.overflow-protect {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userstats {
  display: flex;
  flex-flow: row nowrap;

  margin: -15px;
}

.userstats-item {
  display: flex;
  flex-flow: column nowrap;

  opacity: 40%;
  margin: 15px;
}

.userstats-item-numb {
  padding-top: 10px;
  font-size: 1.4rem;
}

.plus-btn{
  position: absolute;
  top: 35%;
  left: 95%;
  
  

  padding: 20px;
  background-color: yellow;
  border-radius: 50%;
  font-size: 1.5rem;
}

.pro-user{
  position: absolute;

  top: 11%;
  left: 89%;

  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 50px;

  font-size: 0.7rem;
}

@media screen and (max-width: 576px) and (orientation: portrait) {
  .cardbox {
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
  }

  .userphoto{
    width: 100%;
    clip-path: none;

    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }

  .infobox{
    padding: 10px;
    width: 100%;
  }

  .username {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .userlink{
    margin-bottom: 15px;
  }

  .userstats{
    margin-bottom: 15px;
  }

  .userstats-item-numb{
    font-size: 1.2rem;
    padding-top: 5px;
  }

  .plus-btn{
    top: 93%;
    left: 40%;
   
    font-size: 1.2rem;
  }
  
  .pro-user{
    top: 7%;
    left: 80%;
  }
}
